[submodule "lib/lorem"]
	path = lib/lorem
	url = https://github.com/shyiko/lorem
[submodule "lib/knockout"]
	path = lib/knockout
	url = https://github.com/knockout/knockout
[submodule "lib/knockout-kendo"]
	path = lib/knockout-kendo
	url = https://github.com/kendo-labs/knockout-kendo
[submodule "lib/bulma"]
	path = lib/bulma
	url = https://github.com/jgthms/bulma
[submodule "lib/jquery-mobile"]
	path = lib/jquery-mobile
	url = https://github.com/jquery/jquery-mobile
[submodule "lib/blueimp-gallery"]
	path = lib/blueimp-gallery
	url = https://github.com/blueimp/Gallery
