[submodule "lib/lorem"]
	path = lib/lorem
	url = https://github.com/shyiko/lorem
[submodule "lib/knockout"]
	path = lib/knockout
	url = https://github.com/knockout/knockout
[submodule "lib/knockout-kendo"]
	path = lib/knockout-kendo
	url = https://github.com/kendo-labs/knockout-kendo
[submodule "lib/bulma"]
	path = lib/bulma
	url = https://github.com/jgthms/bulma
[submodule "lib/jquery-mobile"]
	path = lib/jquery-mobile
	url = https://github.com/jquery/jquery-mobile
[submodule "lib/blueimp-gallery"]
	path = lib/blueimp-gallery
	url = https://github.com/blueimp/Gallery
[submodule "lib/handlebars"]
	path = lib/handlebars
	url = https://github.com/wycats/handlebars.js/
[submodule "tutorial/js-stack-from-scratch"]
	path = tutorial/js-stack-from-scratch
	url = https://github.com/verekia/js-stack-from-scratch
[submodule "bookmarklet/rack-proxy"]
	path = bookmarklet/rack-proxy
	url = https://github.com/ncr/rack-proxy
[submodule "bookmarklet/evil-proxy"]
	path = bookmarklet/evil-proxy
	url = https://github.com/bbtfr/evil-proxy
[submodule "tutorial/nodejitsu-docs"]
	path = tutorial/nodejitsu-docs
	url = https://github.com/nodejitsu/docs
[submodule "resources/free-for-dev"]
	path = resources/free-for-dev
	url = https://github.com/ripienaar/free-for-dev
[submodule "lib/reveal.js"]
	path = lib/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "bookmarklet/responsive-bookmarklet"]
	path = bookmarklet/responsive-bookmarklet
	url = https://github.com/Victa/responsive-bookmarklet
